body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: url("https://media.giphy.com/media/bsRSKZhTXgDXa/giphy.gif");
  background-size: cover;
  text-align: center;
}

.container {
  text-align: center;
  width: 60%;
  /*margin-top: 20vh;*/
  margin: 20vh auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}

.submit {
  font-family: 'Roboto', sans-serif;
  background-color: #b12a2b;
  border-style: none;
  color: white;
}

.submit:hover {
  text-transform: uppercase;

}

.result {
  text-align: center;
}


.poster_container {

}
