<h3>The Bookshelf</h3>
<p>Home of the books - geddit</p>
<img src="https://66.media.tumblr.com/190f6a8f475b9c7a277cf30426c2cabf/tumblr_ogg3bzEYai1tl7h9yo1_500.jpg">
<p>Or y'know, you could just go to my <a href="https://www.goodreads.com/user/show/51292702-sam">Goodreads</a> like a normal person...</p>
