<h3>Lookee here it's a movie search form!</h3>

<form action="/results" method="GET">
  <p>
    <label>Enter the movie title that you are sesarching for</label>
    <input type="text" name="title" placeholder="Movie Title">
  </p>

  <p>
  <input type="submit" value="Search">
</form>
