<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="www.imdb.com">Give Up and Go to Actual IMDB</a>
</nav>

<h1>Welcome to a blatant IMDB Ripoff</h1>
<h3>That is probably significantly less good</h3>

<%= yield %>

<hr>
<footer>
  This is a poor man's footer
</footer>

</body>
</html>
