<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Getaway Live Archive</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>Chili Peppers Live Archive</h1>
<h2>The Getaway Tour</h2>

<nav>
  <a href="/">Home</a> |
  <a href="/about">About</a> |
  <a href="/live_archive_index">All Concerts</a> |
  <a href="/live_archive_new">Submit New Concert</a>
</nav>

<hr>
<%= yield %>
<hr>

</body>
</html>
