<h3>Submit a new concert</h3>
<h5>Sing another song to make me feel like I'm in love again</h5>

<form action="/live_archive" method="POST">
  <p>
    <label for="">Date:</label>
    <input type="text" name="date" placeholder="Date [Day Month Year]">
  </p>
  <p>
    <label for="">Location:</label>
    <input type="text" name="location" placeholder="Location [City, Country]">
  </p>
  <p>
    <label for="">Image:</label>
    <input type="text" name="image" placeholder="Image URL">
  </p>
  <p>
    <label for="">Set List:</label>
    <input type="text" name="setlist" placeholder="Set List URL">
  </p>
  <p>
    <label for="">Video:</label>
    <input type="text" name="video" placeholder="Video URL">
  </p>
  <p>
    <label for="">Quote:</label>
    <input type="text" name="quote" placeholder="Quote">
  </p>
  <input type="submit" value="Submit Concert">
</form>
