<h3>Ask a Question, if you dare...</h3>

<form action="/questions" method="POST">
  <p>
    <label>Your Question: </label>
    <input type="text" name="question[question]">
  </p>

  <input type="submit" value="Reveal the future...">
</form>
